{% extends 'finances/base.html' %}
{% load format_currency %}
{% block title %}Início{% endblock %}
{% block body %}

{% if incomes %}
<div class="container-fluid">
    <h3>Receitas {{total_incomes.amount__sum|format_currency_symbol}}</h3>
    {% for income in incomes %}
    <div class="row">
        <div class="col-sm-3">
            {{income.category.description}}
        </div>
        <div class="col-sm-3">
            {{income.description}}
        </div>
        <div class="col-sm-3">
            {{income.amount|format_currency_symbol}}
        </div>
         
        <form action="{% url 'finances:update_entry' income.id %}" method="get" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="income_id" value="{{ income.id }}" />
            <input type="hidden" name="entry_type" value="IN"/>
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </form>
        <form action="{% url 'finances:delete_entry' income.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="income_id" value="{{ income.id }}" />
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </form>
    </div>
    {% endfor %}
    {% else %}
        <h3> Você não possui receitas </h3>
    {% endif %}
        <a href="{% url 'finances:list_entry' %}"> <span class="glyphicon glyphicon-plus"></span>&nbsp;Ver mais</a>
    
    {% if expenses %}
        <h3>Despesas {{total_expenses.amount__sum|format_currency_symbol}}</h3>
        {% for expense in expenses %}
        <div class="row">
            <div class="col-sm-3">
                {{expense.category.description}}
            </div>
            <div class="col-sm-3">
                {{expense.description}}
            </div>
            <div class="col-sm-3">
                {{expense.amount|format_currency_symbol}}
            </div>
            <form action="{% url 'finances:update_entry' expense.id %}" method="get" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="expense_id" value="{{ expense.id }}" />
                <input type="hidden" name="entry_type" value="EX"/>
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </form>
            <form action="{% url 'finances:delete_entry' expense.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="expense_id" value="{{ expense.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
        </div>
        {% endfor %}
    {% else %}
    <h3> Você não possui despesas </h3>
    {% endif %}
    <a href="{% url 'finances:list_entry' %}"> <span class="glyphicon glyphicon-plus"></span>&nbsp;Ver mais</a>
</div>
{% endblock %}
