{% extends 'finances/base_anonymous.html' %}
{% block title %}Entrar{% endblock %}

{% block body %}

    <div class="container posicaoFormulario">
                <h2 class="estiloMensagemBemVindo">Bem Vindo, preencha seus dados para logar! </h2>
                   
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <form role="form" action="{% url 'finances:login_user'%}" method="post" enctype="multipart/form-data">
                    <div class="row distanciaForm">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-2 estiloLabels" for="id_username">
                                    Usuário:
                                </label>
                                <div class="col-md-10">
                                    <input id="id_username" maxlength="100" name="username" type="text">
                                </div>
                            </div>
                    </div>
                    <div class="row distanciaForm">
                            <div class="form-group">
                                    <label class="control-label col-md-2 estiloLabels" for="id_password">
                                        Senha:
                                    </label>
                                    <div class="col-md-10">
                                        <input id="id_password" maxlength="100" name="password" type="password">
                                    </div>
                                </div>
                    </div>
                    <div class="row distanciaForm">
                        <div class="container">
                            <div class="mx-auto">
                                    <div class="form-group">
                                            <button type="submit" class="btn estiloBtn">Entrar</button>
                                       </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
        <div class="row">
                <h4 style="color: #004aa9; margin-left: 10px;"> Não possui uma conta?  <a style="color: #51A8FF" href="{% url 'finances:register' %}">Clique aqui</a> para cadastrar.</h4>
        </div>
    </div>












           
            
    
{% endblock %}
