{% extends 'finances/base_anonymous.html' %}
{% block title %}Cadastre-se{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Cadastre-se</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'finances/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                    <h4> Já possui uma conta? <a href="{% url 'finances:login_user' %}">Clique aqui</a> para entrar.</h4>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
